html{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

*, *::before, *::after{
   box-sizing:inherit;
}

/* HEADER FIXE DE NAVIGATION */

header{
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 1;
}

/* LOGO */

header img{
    width: 120px;
    margin-top: 40px;
    padding-bottom: 0px;
}

/* fin LOGO */
/* NAV */

nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    margin-top: 40px;
    font-size: 22px;
    font-weight: 500;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 54px 40px 0px 40px;
}

nav a:hover{
    color:#0065FC;
    border-top: 3px solid;
}

/* fin NAV */
/* fin HEADER FIXE DE NAVIGATION*/
/* MAIN */

main{
    padding-top: 150px; /* hauteur du header fixe de navigation */
    width: 92%;
    margin: auto;
}

/* OUTILS RECHERCHE */

h1, h2{
    font-size: 30px;
    margin-top: 0;
}

h1 + p{
    font-size:22px;
}

/* BARRE DE RECHERCHE */

form{
    display: flex;
}

label, .champ_recherche, .bouton_envoi{
    font-size: 25px;
    padding: 20px 25px;
}

label{
    background-color: #F2F2F2;
    text-align: center;
    border: 1px solid #F2F2F2;
    border-radius: 25px 0 0 25px;
}

.champ_recherche{
    padding-right: 0;
    border: hidden;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-weight: 700;
}

.champ_recherche::placeholder{
    color:#F2F2F2;
    opacity: 1;
}

.bouton_envoi{
    color: white;
    font-weight: 700;
    background-color:#0065FC;
    border:1px solid #0065FC;
    border-radius: 0 25px 25px 0;
    cursor: pointer;    
}

/* fin BARRE DE RECHERCHE */
/* FILTRES */

.section_filtres_de_recherche{
    font-size: 25px;
    font-weight: 700;
    display: flex;
    margin-top: 25px;
    margin-left: 10px;
}

.titre_des_filtres{
    margin-right: 50px;
    margin-top: 30px;
}

.filtres_de_recherche{
    display: flex;
    flex-wrap: wrap;
}

.filtre{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-top: 20px;
    border: 3px solid;
    border-color: #F2F2F2;
    height: 60px;
    border-radius: 30px;
    padding-right: 20px;
}

.filtre:hover{
    color: #0065FC;
    box-shadow: 0px 0px 10px 1px #F2F2F2;
}

.filtre i{
    padding: 17px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-color: #DEEBFF;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: -2px;
}

#familial{
    padding-left: 20px;
    padding-right: 21px;
}

/* fin FILTRES */
/* INFORMATION */

.information{
    display: flex;
    align-items: center;
    font-size: 22px;
    margin: 20px 10px;
}

.information i{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    padding: 8px 15px;
    margin: 0 20px 5px 0;
    border-radius: 25px;
}

/* fin INFORMATION */
/* fin OUTILS RECHERCHE */
/* ANCRES POUR MENU FIXE */

.ancre{
    padding-top: 150px;
    margin-top: -150px;
}

/* fin ANCRES POUR MENU FIXE */
/* SECTION HÉBERGEMENT */

.suggestions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    height: 800px;
}

/*  BLOC HEBERGEMENTS À MARSEILLE */

.suggestions article, .suggestions aside{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 50px;
    border-radius: 20px;
}

.suggestions article{
    width: 65%;
}

.suggestions aside{
    width: 31%;
}

/* BLOC CARTES HEBERGEMENT*/

.suggestions .bloc_cartes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.suggestions article .bloc_cartes{
    align-content: space-between;
    flex-wrap: wrap;
    height: 85%;
}

/* ETOILES BLEUES */

.etoiles{
    display: flex;
    font-size: 14px;
    color: #0065FC;
}

/* ETOILES GRISES */

article .carte:nth-child(1) i:nth-child(5), article .carte:nth-child(2) i:nth-child(5), article .carte:nth-child(4) i:nth-child(5), article .carte:nth-child(5) i:nth-child(5), article .carte:nth-child(2) i:nth-child(4), aside .carte:nth-child(2) i:nth-child(5), aside .carte:nth-child(3) i:nth-child(5){
    color: #F2F2F2;
}

/* fin ETOILES GRISES */
/* CARTE HEBERGEMENT */

.suggestions article .carte{
    border: 5px solid white;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    width: 31%;
    height: 46%;
}

.carte .image{
    overflow: hidden;
    position: relative;
}

.suggestions article .carte .image{
    border-radius: 19px 19px 0 0;
    height: 60%;
}

.suggestions .carte .image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100%;
}

.suggestions .carte .description{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.suggestions .carte .description *{
    margin: 0px;
}

.suggestions article .carte .description{
    height: 40%;
    justify-content: space-around;
}

.afficher_plus{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
}

/* FIN CARTE HEBERGEMENT */
/* ASIDE */

.suggestions aside h2{
    display: flex;
    justify-content: space-between;
}

.suggestions aside .bloc_cartes{
    height: 92%;
}

.suggestions aside .carte{
    border: 5px solid white;
    background-color: white;
    border-radius: 23px;
    width: 100%;
    height: 28%;
    display: flex;
}

.suggestions aside .carte .image{
    width: 40%;
    min-width: 40%;
    border-radius: 19px 0 0 19px;
}

.suggestions aside .carte .description{
    justify-content: space-between;
}

.suggestions aside .carte .image img{
    height: 100%;
}

.suggestions aside .carte .image img:last-child{
    width: 100%;
    height: initial;
}

/* FIN ASIDE */
/* ACTIVITES */

#activites article{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#activites .bloc_cartes{
    display: flex;
    justify-content: space-between;
    width: 51%;
    max-width: 48%;
    max-height: 100%;
    margin-bottom: 50px;
}

#activites .carte{
    width: 46%;
    min-width: 46%;
    max-height: 550px;
    flex-direction: column;
    border-radius: 23px;
    justify-content: space-between;
}

#activites img{
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#activites .sous_bloc{
    width: 46%;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activites .bloc_cartes:nth-child(1) .sous_bloc .carte:nth-child(1){
    width: 100%;
    height: 52%;
    max-height: 56%;
}

#activites .bloc_cartes:nth-child(1) .sous_bloc .carte:nth-child(2){
    width: 100%;
    height: 38%;
    max-height: 47%;
}

#activites .bloc_cartes:nth-child(2) .sous_bloc .carte:nth-child(1){
    width: 100%;
    height: 43%;
    max-height: 56%;
}

#activites .bloc_cartes:nth-child(2) .sous_bloc .carte:nth-child(2){
    width: 100%;
    height: 47%;
    max-height: 46%;
}

#activites .image{
    border-radius: 23px 23px 0 0;
    overflow: hidden;
    position: relative; 
    min-height: 89%;
}

#activites .sous_bloc .image{
    min-height: fit-content;
}

#activites .sous_bloc .image img{
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: none;
    min-height: 100%;
}

.carte{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 15px;
    box-shadow: 1px 2px 10px 5px #dfdbdb;
    overflow: hidden;
}

#activites h3{
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0;
    padding: 20px;
    font-size: 18px;
}

/* FIN ACTIVITES */
/* FOOTER */

footer{
    background-color: #F2F2F2;
}

footer .bloc_mentions{
    margin: 30px 0 40px 4%;
    display: flex;
    justify-content: space-between;
}

footer .mentions{
    width: 33.3%;   
}

footer h4{
    font-size: 24px;
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
    font-size: 21px;
    margin-bottom: 14px;
}

footer a{
    text-decoration: none;
    color: black;
}