/* GENERALITES */
/* PROPRIETE BOX-SIZING */
body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing:inherit;
}
/* fin PROPRIETE BOX-SIZING */

a{
    text-decoration: none;
    color: black;
}

/* CARTE GENERALITES */
.carte{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 15px;
    box-shadow: 1px 2px 10px 1px #ece7e7;
    overflow: hidden;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
}

.carte .image{
    overflow: hidden;
    position: relative;
}

.carte img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carte:hover{
    transform: scale(1.10, 1.10);
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  }
/* fin CARTE GENERALITES */
/* fin GENERALITES */

/* header DE NAVIGATION FIXE */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: fixed;
    background-color: white;
    z-index: 1;
    width: 100%;
    top: 0;
}

/* LOGO DU SITE */
header img{
    width: 150px;
    margin: 40px 0 0 20px;
    padding-bottom: 0px;
}
/* fin LOGO DU SITE */

/* nav */
nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    margin-top: 40px;
    font-size: 22px;
    font-weight: 500;
}

nav a{
    padding: 60px 40px 40px 40px;
}

nav a:hover{
    color:#0065FC;
    border-top: 5px solid;
}
/* fin NAV */
/* fin header DE NAVIGATION FIXE */

/* ANCRE POUR LIENS MENU FIXE */
.ancre{
    padding-top: 155px;
    margin-top: -155px;
}
/* fin ANCRE POUR LIENS MENU FIXE */

/* PAGE ENTRE header ET footer */
main{
    margin: 0 5%;
    padding-top: 155px;
}

/* BLOC RECHERCHE */
h1, h2{
    font-size: 30px;
    margin: 0 0 30px 0
}

h1 + p{
    font-size:22px;
}

/* BARRE DE RECHERCHE */
form{
    display: flex;
}

label, #recherche, .bouton_envoi, .bouton_envoi2{
    font-size: 25px;
    padding: 20px 25px;
}

label{
    background-color: #F2F2F2;
    border-radius: 25px 0 0 25px;
}

#recherche{
    padding-right: 0;
    border: hidden;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-weight: 700;
}

.bouton_envoi, .bouton_envoi2{
    color: white;
    font-weight: 700;
    background-color:#0065FC;
    border:1px solid #0065FC;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.bouton_envoi2{
    display: none;
}

.bouton_envoi:hover{
    background-color: rgb(46, 40, 165);
}
/* fin BARRE DE RECHERCHE */

/* FILTRES */
.section_filtres_de_recherche{
    font-size: 23px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-left: 10px;
}

/* TITRE "FILTRES" */
.section_filtres_de_recherche  p{
    margin-right: 50px;
    margin-top: 30px;
}
/* fin TITRE "FILTRES" */

.filtres_de_recherche{
    display: flex;
    flex-wrap: wrap;
}

.filtres_de_recherche a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-top: 20px;
    border: 3px solid;
    border-color: #F2F2F2;
    height: 60px;
    border-radius: 30px;
    padding-right: 20px;
}

.filtre:nth-child(4){
    margin-right: 0px
}

.filtre:hover{
    color: #0065FC;
    box-shadow: 0px 0px 10px 1px #F2F2F2;
}

.filtre i{
    padding: 17px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-color: #DEEBFF;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: -2px;
}

/* CAS PARTICULIER ICONE "FAMILIAL" PLUS MINCE */
#familial{
    padding-left: 20px;
    padding-right: 21px;
}
/* fin CAS PARTICULIER LOGO "FAMILIAL" PLUS MINCE */
/* fin FILTRES */

/* INFORMATION NOMBRE D'HEBERGEMENTS */
.information{
    display: flex;
    align-items: center;
    font-size: 22px;
    margin: 20px 10px;
}

.information i{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    padding: 8px 15px;
    margin: 0 20px 5px 0;
    border-radius: 25px;
}
/* fin INFORMATION NOMBRE D'HEBERGEMENTS */
/* fin BLOC RECHERCHE */

/* section HEBERGEMENTS */
.hebergements{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

/* article HEBERGEMENTS aside LES PLUS POPULAIRES */
.hebergements article, .hebergements aside{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 3%;
    border-radius: 20px;
}

.hebergements article{
    width: 66%;
}

.hebergements aside{
    width: 31%;
}

/* article HEBERGEMENTS */
.hebergements .bloc_cartes{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.hebergements article .bloc_cartes{
    align-content: space-between;
    flex-wrap: wrap;
    height: 600px;
    padding-bottom: 5%;
}

/* CARTE HEBERGEMENT */
.hebergements article .carte{
    border: 5px solid white;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    width: 31%;
    height: 46%;
}

/* DIV CONTENANT L'IMAGE DE LA CARTE */
.hebergements article .carte .image{
    border-radius: 19px 19px 0 0;
    height: 60%;
}
/* fin DIV CONTENANT L'IMAGE DE LA CARTE */

/* TEXTE CARTE */
.hebergements .carte .description{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.hebergements .carte .description *{
    margin: 0px;
}

.hebergements article .carte .description{
    height: 40%;
    justify-content: space-around;
}

/* ETOILES BLEUES */
.etoiles{
    display: flex;
    font-size: 14px;
    color: #0065FC;
}
/* fin ETOILES BLEUES */

/* ETOILES GRISES */
article .carte:nth-child(1) i:nth-child(5), article .carte:nth-child(2) i:nth-child(5), article .carte:nth-child(4) i:nth-child(5), article .carte:nth-child(5) i:nth-child(5), article .carte:nth-child(2) i:nth-child(4), aside .carte:nth-child(2) i:nth-child(5), aside .carte:nth-child(3) i:nth-child(5){
    color: #F2F2F2;
}
/* fin ETOILES GRISES */
/* fin TEXTE CARTE */

/* LIEN "AFFICHER PLUS" */
.afficher_plus{
    font-size: 21px;
    font-weight: 700;
    width:135px;
}

.afficher_plus:hover{
    color: #0065FC;
}
/* fin LIEN "AFFICHER PLUS" */
/* FIN CARTE HEBERGEMENT */

/* aside "LES PLUS POPULAIRES" */
/*  TITRE AVEC ETOILE */
.hebergements aside h2{
    display: flex;
    justify-content: space-between;
}
/*  fin TITRE AVEC ETOILE */

/* BLOC CARTES "LES PLUS POPULAIRES" (aside) */
.hebergements aside .bloc_cartes{
    height: 92%;
    flex-wrap: wrap;
}

/* CARTE LES PLUS POPULAIRES (aside) */
.hebergements aside .carte{
    border: 5px solid white;
    background-color: white;
    border-radius: 23px;
    height: 29%;
    display: flex;
}

/* DIV CONTENANT L'IMAGE */
.hebergements aside .carte .image{
    width: 40%;
    min-width: 40%;
    border-radius: 19px 0 0 19px;
}
/* fin DIV CONTENANT L'IMAGE */

/* TEXTE CARTE */
.hebergements aside .carte .description{
    justify-content: space-between;
}
/* fin TEXTE CARTE */
/* fin CARTE LES PLUS POPULAIRES aside */
/* fin BLOC CARTES "LES PLUS POPULAIRES" (aside) */
/* fin aside "LES PLUS POPULAIRES" */

/* section ACTIVITES */
#activites article{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* 2 BLOCS CARTES (1 GAUCHE 1 DROITE) */
#activites .bloc_cartes{
    display: flex;
    justify-content: space-between;
    max-width: 48%;
    margin-bottom: 50px;
}

/* CARTES #activites */
/* DIV CONTENANT L'IMAGE */
#activites .image{
    border-radius: 23px 23px 0 0;
    overflow: hidden;
    position: relative; 
    min-height: 89%;
}

#activites .sous_bloc .image{
    min-height: unset;
}
/* fin DIV CONTENANT L'IMAGE */

/* 2 PLUS GRANDES CARTES */
#activites .carte{
    width: 46%;
    min-width: 46%;
    max-height: 550px;
    flex-direction: column;
    border-radius: 23px;
    justify-content: space-between;
}
/* fin 2 PLUS GRANDES CARTES */

/* 2 BLOCS CONTENANT 2 CARTES PLUS PETITES */
#activites .sous_bloc{
    width: 46%;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* fin 2 BLOCS CONTENANT 2 CARTES PLUS PETITES */

/* DIMENSIONS DES CARTES */
#activites .bloc_cartes:nth-child(1) .sous_bloc .carte:nth-child(1){
    width: 100%;
    height: 52%;
    max-height: 56%;
}

#activites .bloc_cartes:nth-child(1) .sous_bloc .carte:nth-child(2){
    width: 100%;
    height: 38%;
    max-height: 47%;
}

#activites .bloc_cartes:nth-child(2) .sous_bloc .carte:nth-child(1){
    width: 100%;
    height: 43%;
    max-height: 56%;
}

#activites .bloc_cartes:nth-child(2) .sous_bloc .carte:nth-child(2){
    width: 100%;
    height: 47%;
    max-height: 46%;
}
/* fin DIMENSIONS DES CARTES */

/* TEXTE CARTES */
#activites h3{
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0;
    padding: 20px;
    font-size: 18px;
}
/* fin TEXTE CARTES */
/* fin CARTES #activites */
/* fin section #activites */
/* fin PAGE ENTRE HEADER ET FOOTER */

/* FOOTER */
footer{
    background-color: #F2F2F2;
    padding: 0 5% 40px;
    display: flex;
    justify-content: space-between;
}

footer .mentions{
    width: 30%;   
}

footer h4{
    font-size: 24px;
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
    font-size: 21px;
    margin-bottom: 14px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    font-weight: 600;
}
/* fin FOOTER */

/* ---------MEDIA QUERIES--------- */

/* DESKTOP JUSQUE 4K */
@media all and (min-width: 2750px){
    header{
        padding: 0 20%;
    }
    main, footer{
        margin-left: 20%;
        margin-right: 20%;
    }
}
/* fin DESKTOP JUSQUE 4K */

/* DESKTOP > 2159px */
@media all and (min-width: 2160px){
    .hebergements article .bloc_cartes {
        height: 800px;
    }
}
/* fin DESKTOP > 2159px */

/* DESKTOP <1334PX */
@media all and (max-width: 1333.98px){
    .hebergements{
        flex-flow: column-reverse; 
    }

    .hebergements article, .hebergements aside{
        width: unset;
    }

    .hebergements aside{
        margin-bottom: 5%;
    }

    .hebergements aside .carte {
        width: 31%;
        height: unset;
    }

    #activites article{
        flex-direction: column;
    }

    #activites .bloc_cartes{
        max-width: unset;
    }

    footer{
        padding: 0 0 10px 5%;
    }
}
/* fin DESKTOP <1334PX */

/* TABLETTE < 768px */
@media all and (max-width: 767.98px){ 

    /* header FIXE */
    header{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    header img{
        margin: 20px 0 0 45px;
    }

    nav{
        width: 100%;
    }

    nav ul{
        padding: unset;
        justify-content: space-between;
        margin: 0;
    }

    nav li{
        width: 100%;
        display: flex;   
    }

    nav a{
        width: 100%;
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 5px solid #F2F2F2;
    }

    nav a:hover{
        border-top: unset;
        border-bottom: 5px solid;
    }
    /* fin header FIXE */

    /* SUPPRESSION MARGES ENTRE header ET footer (main) ET MARGE TOP POUR MENU FIXE */
    main{
        margin: 0;
        padding-top: 173px;
    }
    /* fin SUPPRESSION MARGES PAGE ENTRE header ET footer (main) ET MARGE TOP POUR MENU FIXE */

    /* PADDING SAUF header */
    .hebergements article, .hebergements aside, #activites, footer, .section_recherche{
        border-radius: unset;
        padding-left: 5%;
        padding-right: 5%;
    }
    /* fin PADDING SAUF header */
    
    /* ANCRE POUR MENU FIXE */
    .ancre{
        padding-top: 173px;
        margin-top: -173px;
    }
    /* fin ANCRE POUR MENU FIXE */

    /* MODIFICATIONS GENERALES (main)*/
    .bloc_cartes{
        width: 100%;
    }

    .carte{
        font-size: 21px;
    }
    /* fin MODIFICATIONS GENERALES (main)*/

    /* TITRES h1 h2 */
    h1, h2{
        font-size: 30px;
        margin: 30px 0;
    }
    /* fin TITRES h1 h2 */

    /* BLOC RECHERCHE */
    /* FILTRES */
    .section_filtres_de_recherche, .information{
        margin-left: 0;
    }

    .filtre{
        margin-right: 10px;
    }
    /* fin FILTRES */
    /* fin BLOC RECHERCHE */

    /* section #hebergements */
    /* MISE EN COLONNE CARTES "HEBERGEMENT" */
    .hebergements{
        flex-direction: column-reverse;
        margin: 0;
    }
    /* fin MISE EN COLONNE CARTES "HEBERGEMENT" */

    /* MODIFICATIONS DIVERSES .hebergements */
    .hebergements article{
        background-color: unset;
    }

    .hebergements article .bloc_cartes{
        height: unset;
    }

    .hebergements aside .carte, .hebergements article .carte{
        width: 100%;
        margin-bottom: 5%;
    }

    .hebergements aside .carte{
        height: 210px;
    }

    .hebergements article .carte{
        height: 280px;
    }
    /* fin MODIFICATIONS DIVERSES .hebergements */

    /* MODIFICATIONS DIVERSES #activites */
    #activites .bloc_cartes{
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    #activites .sous_bloc{
        width: unset;
        max-height: unset;
    }

    #activites .carte, #activites .bloc_cartes:nth-child(1) .sous_bloc .carte:nth-child(1), #activites .bloc_cartes:nth-child(1) .sous_bloc .carte:nth-child(2), #activites .bloc_cartes:nth-child(2) .sous_bloc .carte:nth-child(1), #activites .bloc_cartes:nth-child(2) .sous_bloc .carte:nth-child(2){
        height: 250px;
        width: unset;
        margin-bottom: 8%;
    }

    #activites .image{
        min-height: unset;
    }

    #activites h3{
        height: 80px;
        margin: 0;
        padding: 20px;
        font-size: 23px;
    }
    /* fin MODIFICATIONS DIVERSES #activites */

    /* footer */
    footer{
        flex-direction: column;
    }

    footer .mentions{
        width: unset;
    }

    footer h4{
        font-size: 30px;
        margin: 30px 0;
    }

    footer li{
        font-size: 28px;
    }
    /* fin footer */
}
/* fin TABLETTE < 768px */

/* 649px max - BOUTON ENVOI LOUPE */
@media all and (max-width: 649px){
    .bouton_envoi{
        display: none;
    }

    .bouton_envoi2{
        display: initial;
        min-width: 70.75px;
        font-size: 23px;
        border-radius: 25px;
        position: relative;
        right: 25px;
    }
}
/* fin 649px max */

/* MOBILE 480px - 425px */
@media all and (max-width: 480px){
    h1, h2{
        font-size: 28px;
    }

    #recherche{
        width: 100%;
        font-size: 18px;
        padding: 10px;
    }
}
/* fin MOBILE 480px - 425px */

/* MOBILE < 425px */
@media all and (max-width: 424.98px){
    .hebergements article, .hebergements aside, #activites, footer, .section_recherche{
        padding-left: 1%;
        padding-right: 1%;
    }

    header img{
        margin-top: 0
    }

    h1, h2{
        font-size: 23px;
    }
}
/* fin MOBILE < 425px */

/* MOBILE < 375px */
@media all and (max-width: 374.98px){
    header img{
        margin-left: 45px;
    }

    nav a{
        text-align: end;
        padding: 0 5px 20px;
    }

    h1, h2{
        font-size: 23px;
    }
    
    .filtre p{
        margin-right: 0;
    }
}
/* fin MOBILE < 375px */
/* fin MEDIA QUERIES */