html{
    font-family: 'Raleway', sans-serif;
}

body{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* HEADER FIXE DE NAVIGATION */

header{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
}

header img{
    width: 80px;
    padding-left: 20px;
    margin-top: 24px;
    padding-bottom: 24px;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 33px 20px 33px 20px;
}

nav a:hover{
    color:#0065FC;
    border-top: 3px solid;
}

header nav li:first-child a{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

header nav li a:active{
    border-top: 3px solid;
    color: #0065FC;
}

/* FIN HEADER FIXE DE NAVIGATION*/
/* MAIN */

main{
    margin-top: 89.79px; /* hauteur du header fixe de navigation */
}

/* OUTILS RECHERCHE */

h1, h2{
    font-size:larger;
    margin-top: 0;
}

.entete_recherche p{
    font-size:14px;
}

/* BARRE DE RECHERCHE */

.barre_de_recherche{
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.barre_de_recherche label{
    background-color: #F2F2F2;
    width: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 10px 0 0 10px;
}

.champ_recherche{
    width: 208px;
    padding-left: 10px;
    border: hidden;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-weight: 700;
}

.champ_recherche::placeholder{
    color:#F2F2F2;
    opacity: 1;
}

.bouton_envoi{
    color: white;
    font-weight: 700;
    background-color:#0065FC;
    border:1px solid #0065FC;
    border-radius: 0 10px 10px 0;
    padding: 0 10px;
    cursor: pointer;    
}

/* fin BARRE DE RECHERCHE */
/* FILTRES */

.section_filtres_de_recherche{
    display: flex;
    font-weight: 700;
    margin-top: 25px;
    margin-left: 5px;
}

.titre_des_filtres{
    margin-right: 30px;
}

.filtres_de_recherche{
    display: flex;
}

.filtre{
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 15px;
    border: 2px solid;
    border-color: #F2F2F2;
    height: 40px;
    border-radius: 25px;
    padding-right: 20px;
}

.filtre:hover{
    color: #0065FC;
    box-shadow: 2px 2px 2px #F2F2F2;
}

.filtre i{
    padding: 12px;
    /* vertical-align: middle; MARCHE PAS alors que text-align oui */
    color: #0065FC;
    background-color: #DEEBFF;
    border: 2px solid;
    border-color: #DEEBFF;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: -2px;
}

#familial{
    padding-left: 14px;
    padding-right: 15px;
}

/* fin FILTRES */
/* INFORMATION */

.information{
    display: flex;
    font-size: 14px;
}

.information i{
    color: #0065FC;
    margin: 11px 10px 11px 5px;
    border: 1px solid #F2F2F2;
    padding: 2px 8px;
    border-radius: 25px;
}

/* fin INFORMATION */
/* fin OUTILS RECHERCHE */
/* ANCRES POUR MENU FIXE */

#hebergements_ancre, #activites_ancre{
    height:0;
    font-size:0;
    visibility:hidden;
    display:block;
    position:relative;
    top:-89.79px;
}

/* fin ANCRES POUR MENU FIXE */
/* SECTION HÉBERGEMENT */

/* ARTICLE */