html{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after{
   box-sizing:inherit;
}

body{
    display: flex;
    flex-direction: column;
    position: relative;
}

/* HEADER FIXE DE NAVIGATION */

header{
    width: 100%;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 1;
}

header img{
    width: 80px;
    padding-left: 20px;
    margin-top: 24px;
    padding-bottom: 24px;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 33px 20px 33px 20px;
}

nav a:hover{
    color:#0065FC;
    border-top: 3px solid;
}

/* header nav li:first-child a{
    color: #0065FC;
    border-top: 3px solid #0065FC;
} */

/* FIN HEADER FIXE DE NAVIGATION*/
/* MAIN */

main{
    margin-top: 89.79px; /* hauteur du header fixe de navigation */
    width: 92%;
    margin: auto;
}

/* OUTILS RECHERCHE */

h1, h2{
    font-size:larger;
    margin-top: 0;
}

.entete_recherche p{
    font-size:14px;
}

/* BARRE DE RECHERCHE */

.barre_de_recherche{
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.barre_de_recherche label{
    background-color: #F2F2F2;
    width: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 10px 0 0 10px;
}

.champ_recherche{
    width: 208px;
    padding-left: 10px;
    border: hidden;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-weight: 700;
}

.champ_recherche::placeholder{
    color:#F2F2F2;
    opacity: 1;
}

.bouton_envoi{
    color: white;
    font-weight: 700;
    background-color:#0065FC;
    border:1px solid #0065FC;
    border-radius: 0 10px 10px 0;
    padding: 0 10px;
    cursor: pointer;    
}

/* fin BARRE DE RECHERCHE */
/* FILTRES */

.section_filtres_de_recherche{
    display: flex;
    font-weight: 700;
    margin-top: 25px;
    margin-left: 5px;
}

.titre_des_filtres{
    margin-right: 30px;
}

.filtres_de_recherche{
    display: flex;
}

.filtre{
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 15px;
    border: 2px solid;
    border-color: #F2F2F2;
    height: 40px;
    border-radius: 25px;
    padding-right: 20px;
}

.filtre:hover{
    color: #0065FC;
    box-shadow: 2px 2px 2px #F2F2F2;
}

.filtre i{
    padding: 12px;
    /* vertical-align: middle; MARCHE PAS alors que text-align oui */
    color: #0065FC;
    background-color: #DEEBFF;
    border: 2px solid;
    border-color: #DEEBFF;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: -2px;
}

#familial{
    padding-left: 14px;
    padding-right: 15px;
}

/* fin FILTRES */
/* INFORMATION */

.information{
    display: flex;
    font-size: 14px;
}

.information i{
    color: #0065FC;
    margin: 11px 10px 11px 5px;
    border: 1px solid #F2F2F2;
    padding: 2px 8px;
    border-radius: 25px;
}

/* fin INFORMATION */
/* fin OUTILS RECHERCHE */
/* ANCRES POUR MENU FIXE */

#hebergements_ancre, #activites_ancre{
    height:0;
    font-size:0;
    visibility:hidden;
    display:block;
    position:relative;
    top:-89.79px;
}

/* fin ANCRES POUR MENU FIXE */
/* SECTION HÉBERGEMENT */

.suggestions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

/*  BLOC HEBERGEMENTS À MARSEILLE */

.suggestions article, .suggestions aside{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 40px;
    border-radius: 20px;
    height: auto;
}

h2{
    font-size: 24px;
}

.suggestions article{
    width: 67%;
}

.suggestions aside{
    width: 30%;
}

/* BLOC CARTES HEBERGEMENT*/

.suggestions .bloc_cartes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.suggestions article .bloc_cartes{
    align-content: space-between;
    height: auto;
    max-height: 500px;
    flex-wrap: wrap;
}

/* CARTE HEBERGEMENT */

.suggestions article .carte{
    border: 3px solid white;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    width: 31%;
    height: 45%;
    max-height: 200px;
}

.suggestions .carte .image{
    overflow: hidden;
    position: relative;  
}

.suggestions article .carte .image{
    border-radius: 20px 20px 0 0;
}

.suggestions article .carte .image img{
    /* position: absolute; */
}

.suggestions .carte .description{
    display: flex;
    flex-direction: column;
    padding: 2px 10px ;
}

.suggestions .carte .description *{
    margin: 2px;
}

.suggestions .carte .description i{
    margin: 0;
}



.afficher_plus{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
}

/* FIN CARTE HEBERGEMENT */
/* ASIDE */

.suggestions aside h2{
    display: flex;
    justify-content: space-between;
}

.suggestions aside .bloc_cartes{
    height: 90%;
}

.suggestions aside .carte{
    border: 3px solid white;
    background-color: white;
    border-radius: 23px;
    width: 100%;
    height: 27%;
    display: flex;
}

.suggestions aside .carte .image{
    width: 40%;
    border-radius: 20px 0 0 20px;
}

.suggestions aside .carte .description{
    justify-content: space-between;
}

.suggestions .carte img{
    width: 100%;
    height: 100%;
}

/* FIN ASIDE */
/* ACTIVITES */

.activites{

}

.activites article{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.activites .bloc_cartes{
    display: flex;
    justify-content: space-between;
    width: 48%;
    height: 500px;
    margin-bottom: 50px;
}

.activites .bloc_cartes .carte{
    width: 46%;
    height: auto;
    max-height: 100%;
}

.activites .sous_bloc{
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites .sous_bloc .carte{
    width: 100%;
    max-height: 46%;
}

.activites .carte{
    border-radius: 23px;
}

.activites .image{
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 23px 23px 0 0;
}

.activites img{
    width 100%
    height: 100%;
}

.carte{
    text-decoration: none;
    color: black;
    font-size: 14px;
    box-shadow: 1px 2px 10px 5px #dfdbdb;
}

.activites .description{
    height: 40px;
}

.activites h3{
    
}

/* FIN ACTIVITES */
/* FOOTER */

footer{
    background-color: #F2F2F2;
}

footer .bloc_mentions{
    margin: 30px 0 40px 4%;
    display: flex;
    justify-content: space-between;
}

footer .mentions{
    width: 33.3%;   
}

footer h4{
    font-size: 16px;
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
    font-size: 14px;
    margin-bottom: 14px;
}

footer a{
    text-decoration: none;
    color: black;
}