html{
    font-family: 'Raleway', sans-serif;
}

/* HEADER */

header{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 80px;
    padding-left: 20px;
    margin-top: 24px;
    padding-bottom: 24px;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    margin-left: 20px;
    font-size: 15px;
}

nav a{
    text-decoration: none;
    padding: 33px 20px 0 20px;
}

nav a:hover{
    color:#0065FC;
    border-top: 3px solid;
}

/* FIN HEADER */
/* MAIN */

/* OUTILS RECHERCHE */

main{
    width: 90%;
    margin: auto;
}

h1{
    font-size:larger;
    margin-top: 0;
}

#entete_recherche p{
    font-size:14px;
}

/* BARRE DE RECHERCHE */

.barre_de_recherche{
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.barre_de_recherche label{
    background-color: #F2F2F2;
    width: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 10px 0 0 10px;
}

.champ_recherche{
    width: 208px;
    padding-left: 10px;
    border: hidden;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-weight: 700;
}

.champ_recherche::placeholder{
    color:#F2F2F2;
    opacity: 1;
}

.bouton_envoi{
    color: white;
    font-weight: 700;
    background-color:#0065FC ;
    border:1px solid #0065FC;
    border-radius: 0 10px 10px 0;
    padding: 0 10px;
    
}

/* FILTRES */

.section_filtres_de_recherche{
    /* display: flex; */
    font-weight: 700;
}

.titre_des_filtres{
    margin-right: 50px;
}

/*.filtres_de_recherche{
    display: flex;
} */

.filtre{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 15px;
    border: 2px solid;
    border-color: #DEEBFF;
    height: 40px;
    border-radius: 25px;
}

/* .filtre i{
    padding: 11px;
    vertical-align: middle;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 2px solid;
    border-color: #DEEBFF;
    border-radius: 25px;
} */

/* INFORMATION */

.information{
    display: flex;
}

.information i{
    margin: 16px 0;
}